.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #343A40;
  color: white;
  overflow: hidden;
}


.container{
  width: 400px;
  height: 100vh;
  display: flex;

  /* flex-direction: column; */
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  background-color: #171717;

  border-radius: 5px;

  position: relative;

  overflow: hidden;

}

.container .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(124, 103, 63);
  color: black;
  z-index: 11;
  width: 80%;
  height: 300px;


  border-radius: 15px;

  display: none;
  

  

}

.modalContainer{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}



.modal button{
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;

  cursor: pointer;
}



.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 1000px;

  margin: 1rem;
  font-size: 0.5rem;

  border: none;
  word-wrap: break-word;

  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.rotateCard{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  /* background-image: url('./assests/batman.png'); */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  transform: rotateY(180deg);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.box1{
  width: 100%;
  height:100%;
  background-image: url('./assests/cap.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100vh;
  }

  .flip-card {
    width: 70px;
    height: 70px;
  }
}